<h1 style="text-align:center"> New Tasks </h1>
<p>
<form style="text-align:center" action='/tasks/new' method="POST">
    <h4>Description</h4>
    <textarea type="textarea" name="description" rows="8" cols="80">
    </textarea>
    <br></br>
    <h4>Due Date</h4><input type="date" name="due">
    <br></br>
    <%#binding.pry%>
    <input type="submit" value="Create">
    <% if @create_error %>
      <h3><%= @create_error %></h3>
    <% end %>
<form>
