<h1 style="text-align:center"> SIGNUP </h1>
<p>
<form style="text-align:center" action='/users/signup' method="POST">
  <pre>
    Username: <input type="text" name="username">
    Password: <input type="password" name="password">
    <pr>
    <input type="submit" value="Signup">
    <% if @signup_error %>
      <h3><%= @signup_error %></h3>
    <% end %>
  <form>
