<h1 style="text-align:center"> TASKX </h1>
<p>
<form style="text-align:center" action='/users/login' method="POST">

  Username: <input type="text" name="username"></br>
  Password: <input type="password" name="password"></br>
  <pr></br>
  <input type="submit" value="Login">
  <% if @login_error %>
    <h3><%= @login_error %></h3>
  <% end %>
<form>
</br>
</br>
</br>
<a href="/users/signup">Create Account</a>
